body {
    background-image: url("pildid/background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

table {
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    font-family: 'Brush Script MT', cursive;
    font-size: 5em;
    text-align: left;
    padding-left: .25em;
    font-weight: lighter;
}

h1 {
    margin: .5em;
    font-family: 'Brush Script MT', cursive;
    font-size: 8em;
    font-weight: lighter;
}

h2 {
    margin: .5em;
    font-family: 'Brush Script MT', cursive;
    font-size: 5em;
    font-weight: lighter;  
    height: 100%; 
}

p {
    margin: auto;
    padding-top: .25em;
    font-family: 'Brush Script MT', cursive;
    font-size: 4em;
    font-weight: lighter;   
}

.firstimg {
    margin-left: 37.5%;
}

.middleimg {
    margin-left: 25px;
    margin-right: 25px;
}

.lastimg {
    margin-right: 10em;
}

.lastimg:hover {
    opacity: 75%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.aClass {
    margin-left: 1.5em;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium';
    font-weight: lighter;
    color: black;
}

.aClass:hover {
    color: rgb(70, 70, 70);
}

.image-container {
    width: 100%;
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 3em;
    overflow: auto;
}

.box-galerii {
    /*border: 2px solid black;*/
    text-align: center;
    line-height: 40em;
    height: 90%;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 5s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        margin-left: 0px;
    }
    33%{
        margin-left: -1284px;
    }
    58%{
        margin-left: -1284px;
    }
    66%{
        margin-left: calc(-1284px - 720px - 500px);
    }
    100%{
        margin-left: calc(-1284px - 720px - 500px);
    }
}

.box-gmaps {
    border: 2px solid black;
    text-align: center;
    height: 65%;
}

.box {
    /*border: 2px solid black;*/
    text-align: center;   
}

.info {
    text-align: center;
    height: 30%;
}